<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mystery Client</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6</string>
	<key>CFBundleVersion</key>
	<string>180821</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Uso foto?</string>
	<key>NSLocationAlwaysAndWhenInUsageDescription</key>
	<string>La geo localizzazione è necessaria per poter verificare che l'incarico è stato svolto nel posto e nell'orario  corretti. L'uso della localizzazione è spiegato correttamente nella nostra informativa privacy</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>La geo localizzazione è necessaria per poter verificare che l'incarico è stato svolto nel posto e nell'orario  corretti. L'uso della localizzazione è spiegato correttamente nella nostra informativa privacy</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La geo localizzazione è necessaria per poter verificare che l'incarico è stato svolto nel posto e nell'orario  corretti. L'uso della localizzazione è spiegato correttamente nella nostra informativa privacy</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>L'app vorrebbe usare il contenuto della galleria per permetterti di selezionare una foto.</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
